@model HomeViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Services</h1>
	<hr />

	<table style="width:90%;text-align:left;">
		<thead>
			<tr>
				<td>Key</td>
				<td>Health</td>
				<td>Readiness</td>
				<td>Liveness</td>
				<td>Metrics</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var endpoint in Model.HealthEndpoints.Endpoints)
			{
				<tr id="endpoint-@endpoint.Key">
					<td class="endpoint-key">@endpoint.Key</td>
					<td class="endpoint-health">@endpoint.Health</td>
					<td class="endpoint-readiness">@endpoint.Readiness</td>
					<td class="endpoint-liveness">@endpoint.Liveness</td>
					<td><a asp-area="" asp-controller="Home" asp-action="Metrics" asp-all-route-data="@(new Dictionary<string, string>() { { "key", endpoint.Key } })">View Metrics</a></td>
				</tr>
			}
		</tbody>
	</table>

</div>
